@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.btn {
  @apply px-6 py-3 font-semibold rounded-md transition-colors ease-in-out;
}
.btn-primary {
  @apply bg-primaryGreenHover text-textLight hover:bg-primaryGreen hover:text-primaryGreenHover;
}
.btn-secondary {
  @apply border-2 border-borderGreen text-primaryGreenHover opacity-50 cursor-not-allowed;
}

.input {
  @apply w-full px-4 py-2 bg-darkBg border-2 border-borderGreen text-textLight rounded focus:outline-none focus:ring-2 focus:ring-primaryGreen;
}

.card {
  @apply bg-cardBg p-8 rounded-lg shadow-lg;
}

.table {
  @apply w-full border-2 border-borderGreen border-collapse text-textLight;
}
.table th,
.table td {
  @apply border border-borderGreen p-2;
}
.table tr:hover {
  @apply bg-primaryGreen/20;
}
