# dependencies & caches
node_modules
**/node_modules
**/.eslintcache
**/.cache
**/.cypress-cache

# build artifacts
**/dist
**/build
**/coverage
**/*.min.js
**/*.d.ts

# CI / infra (not JS/TS)
jenkins_home
jenkins_data
wtf-jenkins/
wtf-ansible/
wtf-nginx/
wtf-cronjobs/

# Allure artifacts
allure-results
allure-report
allure-history
.allure*

# Cypress output
wtf-cypress/cypress/screenshots
wtf-cypress/cypress/videos

# Large/generated data
finnhub-api/data/
wtf-finnhub/data/
wtf-coingecko/data/

# Static public assets (not linted)
wtf-react/public

# OS noise
.DS_Store
